# ======================
# Environment variables
# ======================
.env
.env.*
*.env

# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# ======================
# Logs
# ======================
*.log

# ======================
# IDE / OS
# ======================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ======================
# Backend specific
# ======================
backend/__pycache__/
backend/.pytest_cache/

# ======================
# Node / frontend (just in case)
# ======================
node_modules/

/frontend/src/Hooks/useCart.jsx
/frontend/src/Hooks/useWish.jsx
/frontend/src/Hooks/useWishlist.jsx