:root{
    --mainFont:Poppins, Geneva, sans-serif;
    --mainColor: #1A237E;
}

body{
    font-family: var(--mainFont);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body, h1, h2, h3, h4, h5, h6,
p, ul, ol, blockquote,dl, dt, dd,figure, fieldset {
  margin: 0;
  padding: 0;
}


main{
    width: 100%;
}


button{
    border: none;
}

ul{
    list-style-type: none;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width:80%;
    justify-self: center;
}


.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-direction-column{
    flex-direction: column;
}

.flex{
    display:flex;
}

.align-end{
    align-items: flex-end;
}

.align-center{
    align-items: center;
}

.error{
    color: rgb(197, 0, 0);
    font-weight: bold;
    align-self: flex-start;
    margin-top: -20px;
}

button{
    border: none;
    background-color: white;
}