:root {
    --mainFont: Poppins, Geneva, sans-serif;
    --mainColor: #1A237E;
    --gold: #FFD700;
    --gray: #666666;
    --bgColor: white;
    --textColor: black;
    --cardBackground: white;
    --shadowColor: #00000014;
    --navbarShadow: #0000001A;
}

.dark {
    --bgColor: #222;
    --textColor: white;
    --cardBackground: #333 !important;
    --shadowColor: #FFFFFF1A;
    --navbarShadow: #FFFFFF1A;
}

body {
    font-family: var(--mainFont);
    display: flex;
    align-items: stretch;
    flex-direction: column;

    background-color: var(--bgColor);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
dl,
dt,
dd,
figure,
fieldset {
    margin: 0;
    padding: 0;
}


main {
    width: 100%;
}


button {
    border: none;
}

ul {
    list-style-type: none;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    justify-self: center;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-direction-column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.error {
    color: rgb(197, 0, 0);
    font-weight: bold;
    align-self: flex-start;
    margin-top: -20px;
}

button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.width-100 {
    width: 100%
}

.controls {
    gap: 24px;
    width: 100%;
}

.controls .field {
    gap: 8px;
    width: 100%;

}

.field label {
    font-size: 14px;
    color: #333333;
}

.field input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #E5E7EB;
    background-color: white !important;
    height: 36px;
}

.dark .field label{
    color: var(--textColor);
}

.remember-me {
    color: var(--textColor);
}

.suggestions {
    width: 100%;
    background-color: white;
}

.suggestions li {
    color: black;
    border: 1px solid var(--gray);
}

.back {
    gap: 8px;
    padding: 8px 12px;
    width: fit-content;
}

.back button {
    color: var(--mainColor);
    background: none;
}

.dark .back button,
.dark .back svg path {
    color: var(--gold);
}

.display-none {
    display: none !important;
}

.display-block {
    display: block;
}

.bold {
    font-weight: bold;
}

.gap-2 {
    gap: 2px;
}

@media screen and (max-width:1200px) {
    .container {
        width: 100%;
    }
}