.books-list {

    gap: 24px;

    .list-options {
        width: 100%;

        p {
            font-size: 14px;
            color: #666666;
        }

        .list-filters {
            gap: 16px;

            select {
                    width: 180px;

  padding: 9px 13px;
  border-radius: 6px;
  background-color: white;
  border: none;
  box-sizing: border-box;
  height: 36px;

   appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: white;
  background-image: url('../../assets/Images/down-arrow.svg');
    background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 22px 22px;
}

            .toggle-display {
                padding: 1px;
                border-radius: 6px;
                border: 1px solid #E0E0E0;
                width: fit-content;

                button {
                    background: transparent;
                }

                div {
                    background-color: #E0E0E0;
                    width: 100%;
                    border-radius: 6px;
                    height: 32px;
                    width: 36px;

                    &:nth-of-type(2) {
                        background-color: white;
                    }
                }

                .selected {
                    background-color: var(--mainColor) !important;
                }
            }
        }
    }

    .load-more{
        border: 1px solid var(--mainColor);
        color: var(--mainColor);
        padding: 8px 33px;
        border-radius: 6px;
        cursor: pointer;
    }

    .cards {
        width: 100%;
        // justify-content: center;
        gap: 20px;

        
    }
}