.filter {
    // width: 100%;
    gap: 24px;
    background-color: #F8F9FA;
    color: var(--textColor);
    border-radius: 8px;
    padding: 24px;
    height: fit-content;

    select {
        width: 180px;
        padding: 9px 13px;
        border-radius: 6px;
        background-color: white;
        border: none;
        box-sizing: border-box;
        height: 36px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: white;
        background-image: url('../../assets/Images/down-arrow.svg');
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 22px 22px;
    }

    button {
        background: none;

        &.clear-all {
            color: var(--gray);
        }
    }

    label {
        gap: 8px;
    }

    .sort-by {
        gap: 12px;
    }

    .filter-section {
        padding: 24px 0px;
        gap: 12px;
        border-top: 1px solid #E0E0E0;

        .options {
            gap: 8px;
        }
    }

    .price {
        gap: 8px;

        input {
            border: none;
        }
    }

    .price-input {
        border-radius: 3px;
    }

    .price-btn {
        color: black;
        font-weight: bold;
        background-color: white;
        border-radius: 3px;
        padding: 5px 10px;
    }
}

:global(.dark) :local(.filter) {
    background-color: #333;

    button.clear-all {
        color: var(--textColor);
    }
}