
.search-field{
    width: 100%;
    width: 440px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #E5E7EB;
    padding-left: 16px;
    input{
        width: 394px;
        border: none;
        font-weight: 500;
    }
}
