
header{
    height: 64px;
    opacity: 1;
    z-index: 500;
    position: sticky;
    top: 0px;
    width:100%;
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);

    .header-container{
        gap: 159px ;
        @media screen and (max-width:1150px) {
            gap:0px
        }
    }

    h1{
        color: var(--mainColor);
        font-size: 20px;
        line-height: 28px;
    }

    div{
        &:nth-of-type(2){
            padding: 0px 32px;
            @media screen and (max-width:600px) {
                padding: 0;
            }
        }
    }

    .search{
        @media screen and (max-width:600px) {
            order: 2;
            width: 100%;
            justify-content: center;
        }
    }

            @media screen and (max-width:600px) {
           height: fit-content;
        }

    a{
        width: 36px;
        height: 36px;
    }
}